* {
    box-sizing: border-box;
}

:root {
    --black: #333;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.5rem;
    color: var(--black);
    margin: 2.5rem auto;
    line-height: 1.5;
}

p {
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
    font-style: italic;
    color: var(--black);
    margin: 1.5rem auto;
    line-height: 1.5;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(https://codeberryschool.github.io/simple-quote-page/assets/freedom.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    padding-top: 4rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

small {
    font-size: smaller;
}